body {
    font-family: 'Inter', sans-serif;

    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 19.36px;

    margin: 0;
}

* {
    box-sizing: border-box;
    }
    
    *::after, *::before {
    box-sizing: border-box;
}
    
    
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    
    max-width: 1230px; 
    margin: 0 auto;
    padding: 0 15px;  
}


/* section */
.section__action {
margin: 80px 0;
}

/* action */

.action {
    padding: 60px 91px;
    display: flex;
    justify-content: space-between

}

.action__content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action__title {
    font-size: 48px;
    color: #212121;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: 0.2px;
    
}

.action__subtitle {
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0.2px;
    margin-top: 16px;
}

/* action__form */

.action__form {
    margin: 48px 0;
}

.action__input {
    height: 44px;
    width: 367px;
    min-width: 190px;
    max-width: 100%;
    border: 2px solid #BDBDBD;

    border-radius: 5px;

    padding: 12.5px 0 12.5px 49px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0.2px;

    transition: 0.2s;
}

.action__input::-webkit-input-placeholder {
     color: #BDBDBD;; 
}

.action__input:focus {
    outline: 0;
    border-color: #3563E9;
    border: 3px solid #3563E9;
}

.input__inner {
    position: relative;
}

.input__image {
    display: block;
    max-width: 25px;
    height: auto;

    position: absolute;
    top: 50%;
    left: 17px;
    z-index: 3;

    transform: translate3d(0, -50%, 0);
}


/* button */

.action__button {
    display: inline-block;
    vertical-align: top;
    background-color: #3563E9;
    border-radius: 5px;
    height: 44px; 
    width: 102px;
    margin-left: 15px;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.46px;
    color: #fff;

    border: 0;
    cursor: pointer;
    text-align: center;

    transition: 0.2s;
}

.action__button:hover {
    background-color: #BDBDBD;
    color: #333;
}

.subscribe__button {
    display: block;
    background-color: #3563E9;
    border-radius: 0px 6px 6px 0px;
    height: 50px; 
    width: 50px;
    margin: 0;
    padding: 0;

    font-size: 0;
    color: inherit;
    
    border: 0;
    cursor: pointer;

    transition: 0.2s;
    position: relative;
}

.subscribe__button::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;

    background-color: #fff;

    border-radius: 2px;

    top: 50%;
    left: 48%;
    bottom: 0;
    z-index: 3;

    transform: rotate(45deg) translate3d(-48%, -50%, 0);
    position: absolute;
}

.subscribe__button::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;

    background-color: #fff;

    border-radius: 2px;

    top: 48.5%;
    left: 51%;
    bottom: 0;
    z-index: 3;

    transform: rotate(-45deg) translate3d(-48.5%, -51%, 0);
    position: absolute;
}


.subscribe__button:hover {
    background-color: #BDBDBD;
}

.subscribe__button:hover::after, .subscribe__button:hover::before{
    background-color: #333;
}

/* action__image */

.action__image {
    cursor: pointer;
}

.action__img {
    display: block;
}

/* footer */

.footer {
    padding: 100px 0;
    background-color: #3563E9;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
}

.footer__item {
    padding-top: 30px;
}

.footer__item--subscribe {
    padding: 30px 42px;
    background-color: #2851E3;
    max-height: 256px;
}

.footer__item__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 5px;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0px;

    margin: 13px 0;
    transition: 0.2s;
}

.footer__link:hover {
    text-decoration: underline;
    opacity: 1;
}

.form__subscribe {
    margin-top: 13px;
    display: flex;
}

.subscribe__input {
    height: 50px;
    width: 198px;
    min-width: 110px;
    max-width: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 6px 0 0 6px;

    padding: 0px 0px 0px 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    transition: 0.2s;
}

.subscribe__input::-webkit-input-placeholder {
    color: #424242;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #424242;
    border: 3px solid #424242;
}


.subscribe__text {
max-width: 254px;

font-family: Inter, sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;

color: #fff;
opacity: 0.7;

margin: 18px 0 0 0;

}